hostname {{ hostname }}
no ip icmp redirect
vlan {{ vlan_prod }}
state active
interface vlan {{ vlan_prod }}
ip address {{ ip_prod }} {{ netmask }}
no shutdown
interface ethernet 0/3
switchport mode access
switchport access vlan {{ vlan_prod }}
no shutdown
snmp-server community nagios RO
